@import url('http://media.nzherald.co.nz/webcontent/infographics/336/stag.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400);




/* GENERAL */
@include border-box-sizing;
$base-font-size:16px;
$base-line-height: 24px;
@include establish-baseline;
$rhythm-unit: "rem";
$rem-with-px-fallback: true;

body {
	text-align:center;
	background-color:$backgoundColor;
}

/* SPRITES*/
@import "compass/utilities/sprites";
$icons-spacing:3px;
@import "icons/*.png";
$icons: sprite-map("icons/*.png");
@include all-icons-sprites;


/* MAIN HEADER*/
header.main {
	background-color: $mainAccent;
	color: $mainNavColor;
	font-family:$details-font;
	font-weight: 100;
	height:3.5rem;
	letter-spacing: 0.13rem;
	padding: 1.2rem 0rem 1.2rem 1.8rem;
	text-transform:uppercase;

	@include adjust-font-size-to(14.8px, 1.1);

	address a.icons-mail:hover {
		background-position: 0 -334px;
	}	

	@include breakpoint($medium) {
		height:4rem;
	}	
}


header.main {
	font-weight:300;
	text-align:left;
	a {
		color: $mainNavColor;
		text-decoration:none;
		padding-right: 2rem;
	}
	a:hover {
		color:#df726b;
	}
	a.icons-phone {
		padding-right:0.8rem;
	}
	address {
		float:right;
		a {
			padding-left:24px;
			margin-left:-18px;
		}
		a span{
			display:none;
		}
		.icons-mail:hover, .icons-mail.mail-hover {
		  background-position: 0 -343px;
		}
		@include breakpoint($tiny) {	
			a.icons-resume span{
				display:inline;
			}
		}
		@include breakpoint($medium) {	
			a.icons-linkedIn span, a.icons-mail span, a.icons-phone span  {
				display:inline;
			}
		}
	}
}
h1 {
	font-weight:600;
	margin-right: 0.25rem;
	@include adjust-font-size-to(15px, 1.1);
}
h1, h2, address {
	display: inline;
}
h1 {
	display:none;
	@include breakpoint($small) {	
		display:inline;
	}
}	
h2 {
	@include adjust-font-size-to(15.4px, 1.1);
	span{
		display:none;
	}	
	span.UX {
		display:inline;
	}
	@include breakpoint($small) {	
		span.designer {
			display:inline;
		}
	}
	@include breakpoint($medium) {	
		span.digital, span.UI {
			display:inline;
		}
	}
}


/* BODY */
article header {
	color:$mainTextColor;
	margin: 0 auto;
	margin-top: 3.8rem;
	max-width:18rem;
	width:18rem;	
	h3 {
		font-family:$title-font;
		font-style:italic;
		margin-bottom:0.72rem;
		letter-spacing:-0.04rem;
		@include adjust-font-size-to(18px, 1.12);
	}
	p {
		font-family:$primary-font;
		font-weight:300;
		letter-spacing:0.04rem;
		@include adjust-font-size-to(12.3px, 0.95);
	}
	hr {
		margin-top:1.1rem;
		max-width:1,8rem;
		width:1.8rem;	
	}
	@include breakpoint($tiny) {	
		h3 {
			@include adjust-font-size-to(22.6px, 1.2);
		}
	}
}

.specs {
	background-color:$mainAccent ;
	color:$linkColor;
	font-family:$details-font;
	text-transform:uppercase;
	letter-spacing:0.05rem;
	padding-bottom:0.6rem;

	@include adjust-font-size-to(9.5px, 0.95);

	h4 {
		a {
			background-color:$darkAccent;
			color:$linkColor;
			display:inline-block;
			font-weight:400;
			letter-spacing:0.1rem;
			text-decoration:none;
			width:100%;
			@include adjust-font-size-to(10.7px, 1.4);
		}
	}
	ul {
		padding: 1rem 0 0.7rem 0;
		text-algin:center;
		li {
			background-color:$mainAccent;
			display:inline-block;
			width:100%;
			background-image:none;
		}
		li.icons-actionscript{
			background-position: 50% 0;
		}
		li.icons-html5 {
			background-position: 50% -156px;
		}
		li.icons-illustrator {
			background-position: 50% -195px;
		}
		li.icons-nifti {
			min-width:2.5rem;
			background-position: 50% -353px;
		}
		li.icons-photoshop {
			background-position: 50% -432px;
		}
		li.icons-sass{
			background-position: 50% -513px;
		}
		li.icons-sketch{
			background-position: 50% -552px;
		}
		li.icons-tableau{
			background-position: 50% -591px;
		}
		li.icons-wordpress{
			background-position: 50% -630px;
		}
		span {
			text-align:center;
		}
		@include breakpoint($tiny) {	
			li{
				background-image: url('../../images/icons-sb19daaa7ce.png');
				margin-left:1.2rem;
				width:auto;	
				padding-top:16px;
				height:36px;
			}
			span {
				padding-top:3rem;
				line-height:4rem;
			}
		}
		@include breakpoint($medium) {	
			li{
				margin-left:2rem;
			}
		}
	}
}
/* WORK SAMPLE */
.owl-carousel {
	background-color:$carouselBg;
}

div.owl-carousel .item.first {
	margin-left:-3em;
}
div.owl-item {
	margin-bottom:-1rem;
}

article img.mainPic {
	display:none;
	@include breakpoint($small) {
		display:inline-block;
	}
}
div.owl-item a {
	opacity: 1;
	@include breakpoint($small) {
		opacity: 0.35;
	}
}
div.owl-item a:hover {
	opacity: 1;

}

div.owl-carousel {
	.item.desk {
		display:none;
	}
	.item.mob {
		display:block;
	}
	@include breakpoint($small) {	
			.item.desk {
				display:block;
			}
			.item.mob {
				display:none;
			}
	}
}

/* FOOTER */

footer.copyright {
	background-color:$darkAccent;
	color:$footerTextColor;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
	height: 2.2rem;
	letter-spacing:0.04rem;
	text-transform:uppercase;
	@include adjust-font-size-to(0.53rem, 1.49);

}













