@import url('http://media.nzherald.co.nz/webcontent/infographics/336/stag.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400);




/* GENERAL */
@include border-box-sizing;

$base-font-size:16px;
$base-line-height: 24px;
@include establish-baseline;

$rhythm-unit: "rem";
$rem-with-px-fallback: true;

body {
	text-align:center;
}


/* MAIN HEADER*/

@import "compass/utilities/sprites";
$icons-spacing:3px;
@import "icons/*.png";
@include all-icons-sprites;

header.main {
	background-color: $mainAccent;
	color: $mainNavColor;
	font-family:$details-font;
	font-weight: 100;
	height:3.5rem;
	letter-spacing: 0.13rem;
	padding: 1.2rem 0rem 1.2rem 1.8rem;
	text-transform:uppercase;

	@include adjust-font-size-to(14.8px, 1.1);

	address a.icons-mail:hover {
		background-position: 0 -61px;
	}	

	@include breakpoint($medium) {
		height:4rem;
	}	
}

header.main {
	
	address{
		float:right;
	}
	a {
		color: $mainNavColor;
		text-decoration:none;
		padding-right: 2rem;
		
		@include breakpoint($medium) {
		
		}
	}
	a:hover {
		color:#df726b;
	}
	a.icons-phone {
		padding-right:0.8rem;
	}
	address {
		a {
			padding-left:24px;
			margin-left:-18px;
		}
		a span{
			display:none;
		}
		a.icons-resume span{
			display:inline;
		}
		@include breakpoint($medium) {	
			a.icons-linkedIn span, a.icons-mail span, a.icons-phone span  {
				display:inline;
			}
		}
	}
}
h1 {
	font-weight:400;
	margin-right: 0.25rem;
	@include adjust-font-size-to(15px, 1.1);
}
h1, h2, address {
	display: inline;
}
h1 {
	display:none;
	@include breakpoint($small) {	
		display:inline;
	}
}	
h2 {
	@include adjust-font-size-to(15.4px, 1.1);
	span{
		display:none;
	}	
	span.UX {
		display:inline;
	}
	@include breakpoint($small) {	
		span.designer {
			display:inline;
		}
	}
	@include breakpoint($medium) {	
		span.digital, span.UI {
			display:inline;
		}
	}
}


/* BODY */
article header {
	color:$mainTextColor;
	margin: 0 auto;
	margin-top: 3.8rem;
	max-width:15rem;
	width:15rem;	
	h3 {
		font-family:$title-font;
		font-style:italic;
		margin-bottom:0.72rem;
		letter-spacing:-0.04rem;
		@include adjust-font-size-to(22.6px, 1.2);

	}
	p {
		font-family:$primary-font;
		font-weight:200;
		letter-spacing:0.04rem;
		@include adjust-font-size-to(12.3px, 0.95);
	}
	hr {
		margin-top:1.1rem;
		max-width:1,8rem;
		width:1.8rem;	
	}
}


.specs {
	background-color:$mainAccent ;
	color:$linkColor;
	font-family:$details-font;
	text-transform:uppercase;
	letter-spacing:0.05rem;

	@include adjust-font-size-to(9.5px, 0.95);

	h4 {
		a {
			background-color:$darkAccent;
			color:$linkColor;
			display:inline-block;
			font-weight:400;
			letter-spacing:0.1rem;
			text-decoration:none;
			width:100%;
			@include adjust-font-size-to(10.7px, 1.4);
		}
	}
	ul {
		padding: 1.2rem 0 0.6rem 0;
		text-algin:center;
		li {
			background-color:$mainAccent;
			display:inline-block;
			padding-top:16px;
			height:36px;
		}
		span {
			padding-top:3rem;
			line-height:4rem;
			text-align:center;
		}

	}


}



/* TEMP */

 img {
	display:none;
}















