
//COLORS
//$mainAccent          : #232a36;
//$mainAccent          : #232b38;
$mainAccent          : #282f3c;
$darkAccent          : #151a26;
$mainNavColor        : #c9cdcf;
$linkColor           : #798489;
$mainTextColor       : #5a5b5d;


//FONT FAMILY
$primary-font: "Stag", Georgia, Times,"Times New Roman", serif;
$details-font: "Alegreya Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif; //Open Sans
$title-font: Georgia,"Times New Roman",serif;


//MEDIA

$tiny:300px;
$small: 600px;
$medium: 1024px;
$large: 1900px;

