
//COLORS
$backgoundColor		 : #f8f8f8;
$mainAccent          : #282f3c;
$darkAccent          : #151a26;
$mainNavColor        : #c9cdcf;
$linkColor           : #798489;
$mainTextColor       : #5a5b5d;
$carouselBg	    	 : #dfdddd;


//FONT FAMILY
$primary-font: "Stag", Georgia, Times,"Times New Roman", serif;
$details-font: "Alegreya Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif; //Open Sans
$title-font: Georgia,"Times New Roman",serif;


//MEDIA

$tiny:330px;
$small: 600px;
$medium: 1024px;
$large: 1900px;

