@import url("http://media.nzherald.co.nz/webcontent/infographics/336/stag.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* GENERAL */
/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 18, ../components/sass/_base.scss */
body {
  text-align: center;
  background-color: #f8f8f8;
}

/* SPRITES*/
/* line 208, icons/*.png */
.icons-sprite, .icons-actionscript, .icons-adobe, .icons-as, .icons-axure, .icons-html5, .icons-illustrator, .icons-indesign, .icons-linkedIn, .icons-mail, .icons-nifti, .icons-phone, .icons-photoshop, .icons-resume, .icons-sass, .icons-sketch, .icons-tableau, .icons-wordpress {
  background-image: url('../../images/icons-sddc36c511e.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-actionscript {
  background-position: 0 0;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-adobe {
  background-position: 0 -39px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-as {
  background-position: 0 -78px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-axure {
  background-position: 0 -117px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-html5 {
  background-position: 0 -156px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-illustrator {
  background-position: 0 -195px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-indesign {
  background-position: 0 -234px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedIn {
  background-position: 0 -273px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedIn:hover, .icons-linkedIn.linkedIn-hover {
  background-position: 0 -293px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -313px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail:hover, .icons-mail.mail-hover {
  background-position: 0 -333px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-nifti {
  background-position: 0 -353px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -392px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone:hover, .icons-phone.phone-hover {
  background-position: 0 -412px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-photoshop {
  background-position: 0 -432px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-resume {
  background-position: 0 -471px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-resume:hover, .icons-resume.resume-hover {
  background-position: 0 -492px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sass {
  background-position: 0 -513px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-sketch {
  background-position: 0 -552px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tableau {
  background-position: 0 -591px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wordpress {
  background-position: 0 -630px;
}

/* MAIN HEADER*/
/* line 37, ../components/sass/_base.scss */
header.main {
  background-color: #282f3c;
  color: #c9cdcf;
  font-family: "Alegreya Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  height: 3.5rem;
  letter-spacing: 0.13rem;
  padding: 1.2rem 0rem 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.925rem;
  line-height: 26px;
  line-height: 1.65rem;
}
/* line 49, ../components/sass/_base.scss */
header.main address a.icons-mail:hover {
  background-position: 0 -61px;
}
@media (min-width: 1024px) {
  /* line 37, ../components/sass/_base.scss */
  header.main {
    height: 4rem;
  }
}

/* line 58, ../components/sass/_base.scss */
header.main {
  font-weight: 300;
  text-align: left;
}
/* line 61, ../components/sass/_base.scss */
header.main a {
  color: #c9cdcf;
  text-decoration: none;
  padding-right: 2rem;
}
/* line 70, ../components/sass/_base.scss */
header.main a:hover {
  color: #df726b;
}
/* line 73, ../components/sass/_base.scss */
header.main a.icons-phone {
  padding-right: 0.8rem;
}
/* line 76, ../components/sass/_base.scss */
header.main address {
  float: right;
}
/* line 78, ../components/sass/_base.scss */
header.main address a {
  padding-left: 24px;
  margin-left: -18px;
}
/* line 82, ../components/sass/_base.scss */
header.main address a span {
  display: none;
}
@media (min-width: 330px) {
  /* line 86, ../components/sass/_base.scss */
  header.main address a.icons-resume span {
    display: inline;
  }
}
@media (min-width: 1024px) {
  /* line 91, ../components/sass/_base.scss */
  header.main address a.icons-linkedIn span, header.main address a.icons-mail span, header.main address a.icons-phone span {
    display: inline;
  }
}

/* line 97, ../components/sass/_base.scss */
h1 {
  font-weight: 600;
  margin-right: 0.25rem;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 26px;
  line-height: 1.65rem;
}

/* line 102, ../components/sass/_base.scss */
h1, h2, address {
  display: inline;
}

/* line 105, ../components/sass/_base.scss */
h1 {
  display: none;
}
@media (min-width: 600px) {
  /* line 105, ../components/sass/_base.scss */
  h1 {
    display: inline;
  }
}

/* line 111, ../components/sass/_base.scss */
h2 {
  font-size: 15px;
  font-size: 0.9625rem;
  line-height: 26px;
  line-height: 1.65rem;
}
/* line 113, ../components/sass/_base.scss */
h2 span {
  display: none;
}
/* line 116, ../components/sass/_base.scss */
h2 span.UX {
  display: inline;
}
@media (min-width: 600px) {
  /* line 120, ../components/sass/_base.scss */
  h2 span.designer {
    display: inline;
  }
}
@media (min-width: 1024px) {
  /* line 125, ../components/sass/_base.scss */
  h2 span.digital, h2 span.UI {
    display: inline;
  }
}

/* BODY */
/* line 133, ../components/sass/_base.scss */
article header {
  color: #5a5b5d;
  margin: 0 auto;
  margin-top: 3.8rem;
  max-width: 15rem;
  width: 15rem;
}
/* line 139, ../components/sass/_base.scss */
article header h3 {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 0.72rem;
  letter-spacing: -0.04rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.68rem;
}
/* line 146, ../components/sass/_base.scss */
article header p {
  font-family: "Stag", Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  letter-spacing: 0.04rem;
  font-size: 12px;
  font-size: 0.76875rem;
  line-height: 23px;
  line-height: 1.425rem;
}
/* line 152, ../components/sass/_base.scss */
article header hr {
  margin-top: 1.1rem;
  max-width: 1,8rem;
  width: 1.8rem;
}
@media (min-width: 330px) {
  /* line 158, ../components/sass/_base.scss */
  article header h3 {
    font-size: 23px;
    font-size: 1.4125rem;
    line-height: 29px;
    line-height: 1.8rem;
  }
}

/* line 164, ../components/sass/_base.scss */
.specs {
  background-color: #282f3c;
  color: #798489;
  font-family: "Alegreya Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-bottom: 0.6rem;
  font-size: 10px;
  font-size: 0.59375rem;
  line-height: 23px;
  line-height: 1.425rem;
}
/* line 175, ../components/sass/_base.scss */
.specs h4 a {
  background-color: #151a26;
  color: #798489;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  width: 100%;
  font-size: 11px;
  font-size: 0.66875rem;
  line-height: 34px;
  line-height: 2.1rem;
}
/* line 186, ../components/sass/_base.scss */
.specs ul {
  padding: 1rem 0 0.7rem 0;
  text-algin: center;
}
/* line 189, ../components/sass/_base.scss */
.specs ul li {
  background-color: #282f3c;
  display: inline-block;
  width: 100%;
  background-image: none;
}
/* line 195, ../components/sass/_base.scss */
.specs ul li.icons-actionscript {
  background-position: 50% 0;
}
/* line 198, ../components/sass/_base.scss */
.specs ul li.icons-html5 {
  background-position: 50% -156px;
}
/* line 201, ../components/sass/_base.scss */
.specs ul li.icons-illustrator {
  background-position: 50% -195px;
}
/* line 204, ../components/sass/_base.scss */
.specs ul li.icons-nifti {
  min-width: 2.5rem;
  background-position: 50% -353px;
}
/* line 208, ../components/sass/_base.scss */
.specs ul li.icons-photoshop {
  background-position: 50% -432px;
}
/* line 211, ../components/sass/_base.scss */
.specs ul li.icons-sass {
  background-position: 50% -513px;
}
/* line 214, ../components/sass/_base.scss */
.specs ul li.icons-sketch {
  background-position: 50% -552px;
}
/* line 217, ../components/sass/_base.scss */
.specs ul li.icons-tableau {
  background-position: 50% -591px;
}
/* line 220, ../components/sass/_base.scss */
.specs ul li.icons-wordpress {
  background-position: 50% -630px;
}
/* line 223, ../components/sass/_base.scss */
.specs ul span {
  text-align: center;
}
@media (min-width: 330px) {
  /* line 227, ../components/sass/_base.scss */
  .specs ul li {
    background-image: url("../../images/icons-sddc36c511e.png");
    margin-left: 1.2rem;
    width: auto;
    padding-top: 16px;
    height: 36px;
  }
  /* line 234, ../components/sass/_base.scss */
  .specs ul span {
    padding-top: 3rem;
    line-height: 4rem;
  }
}
@media (min-width: 1024px) {
  /* line 240, ../components/sass/_base.scss */
  .specs ul li {
    margin-left: 2rem;
  }
}

/* WORK SAMPLE */
/* line 247, ../components/sass/_base.scss */
.owl-carousel {
  background-color: #dfdddd;
}

/* line 251, ../components/sass/_base.scss */
div.owl-carousel .item.first {
  margin-left: -1.7em;
}

/* line 254, ../components/sass/_base.scss */
div.owl-item {
  margin-bottom: -1rem;
}

/* line 257, ../components/sass/_base.scss */
div.owl-item a {
  opacity: 0.35;
}

/* line 260, ../components/sass/_base.scss */
div.owl-item a:hover {
  opacity: 1;
}
